.cards{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card{
    position: relative;
    width: 33%;
    max-width: 250px;
    z-index: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    background-color: rgb(17, 25, 43);
    transform: translateY(8px) scale(1.03);
    box-shadow: 2px 0 5px rgba(146, 142, 142, 0.1);
}

.border_cards{
    border-right: .5px solid #ffffff0e;
}

.card_title {
    color: rgb(251, 255, 254);
    margin-bottom: 10px;
}

.card_price{
    color: rgb(251, 255, 254);
    font-size: 48px;
}

.card_month{
    color: rgb(132, 145, 157);
    font-size: 10px;
}

.card_desc {
    color: rgb(132, 145, 157);
    font-weight: 500;
    margin-top: 10px;
}

.news_card_title {
    color: rgb(251, 255, 254);
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}