.icon_cards{
    color: rgb(132, 145, 157);
    font-size: 9px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0;
    font-weight: 600;
}

.fa-sharp{
    color: rgb(97, 95, 255);
    font-size: 10px;
}

